<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Winter 2015 Magazine | North by Northwestern</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="//use.typekit.net/adk4phw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta property="og:title" content="Winter 2015 Magazine | North by Northwestern">
  <meta property="og:description" content="The winter issue of the North by Northwestern magazine featuring stories on diversity and inclusion, grade inflation and a Northwestern YouTube star.">
  <meta property="og:url" content="http://apps.northbynorthwestern.org/magazine/2015/winter/index">
  <meta property="og:image" content="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/03/11/nbncover.jpg">


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="shortcut icon" href="http://media.northbynorthwestern.com/media/img/favicon-hi.ico">
  <!-- endbuild -->

  <!-- jQuery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>

<header class="masthead">
  <div class="logo">
    <a href="http://www.northbynorthwestern.com/" target="_blank"><img class="nbn-logo" src="http://media.northbynorthwestern.com.s3.amazonaws.com/media/img/nbn_logo.svg" alt=""></a>
  </div>
</header>

<!-- <main class="container main-content"> -->
  {% block content %}{% endblock %}
<!-- </main> -->


<footer>
  <div class="content-wrapper">
    <div class="credits">
        <p style="font-family: 'Proxima-Nova', Helvetica, sans-serif;"><strong>Published on March 11, 2015</strong></p>
        <p style="font-family: 'Proxima-Nova', Helvetica, sans-serif;"><strong>Digital Product Manager</strong>: <a href="https://twitter.com/yeamal" target="_blank">Mallory Busch</a></p>
        <p style="font-family: 'Proxima-Nova', Helvetica, sans-serif;"><strong>Digital Producers</strong>: <a href="https://twitter.com/AditiHBhandari" target="_blank">Aditi Bhandari,</a> <a href="https://twitter.com/ashhwu">Ashley Wu</a> and <a href="https://twitter.com/asduner">Alex Duner</a></p>
        <p style="font-family: 'Proxima-Nova', Helvetica, sans-serif;">&copy; 2015 <a href="http://www.northbynorthwestern.com/" target="_blank">North by Northwestern</a></p>
      </div>
    </div>
</footer>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->


</body>
</html>
